<footer class="site-footer">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6">
                <h5><i class="bi bi-phone"></i> CellTech</h5>
                <p style="font-size:.9rem;line-height:1.7">
                    Hệ thống bán lẻ điện thoại và phụ kiện công nghệ chính hãng.
                    Cam kết giá tốt, bảo hành uy tín.
                </p>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5>Liên kết</h5>
                <ul class="footer-links">
                    <li><a href="/Home/Index">Trang chủ</a></li>
                    <li><a href="/Home/Cart">Giỏ hàng</a></li>
                    <li><a href="/Home/Orders">Đơn hàng</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Hỗ trợ</h5>
                <ul class="footer-links">
                    <li><a href="#">Chính sách bảo hành</a></li>
                    <li><a href="#">Chính sách đổi trả</a></li>
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Liên hệ</h5>
                <ul class="footer-links">
                    <li><i class="bi bi-geo-alt me-2"></i> Hà Nội, Việt Nam</li>
                    <li><i class="bi bi-telephone me-2"></i> 0123 456 789</li>
                    <li><i class="bi bi-envelope me-2"></i> info&#64;celltech.vn</li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom text-center">
            &copy; 2026 CellTech. All rights reserved.
        </div>
    </div>
</footer>